GROQ_API_KEY=votre_cle_groq
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=votre_cle_langsmith
LANGCHAIN_PROJECT=examen_langchain
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
AUTH_SERVICE_URL=http://auth:8001
TOKEN_URL=http://localhost:8001/login
